<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="collectme">
			<directory prefix="" suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="WP_TESTS_DIR" value="/var/www/html/wp-content/plugins/collectme/tmp/wordpress-tests-lib"/>
	</php>
</phpunit>
